<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/carrito.css' %}">
</head>
<body>

    <div class="imageLoader">
        <form action="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="imagen" placeholder="Upload image..." class="form-control">

            <input type="submit" value="Cargar Imagen">
        </form>
    </div>
    <div>
            <form action="/usuario/carrito/item/" method="POST">
                {% csrf_token %}
                {{ formAgregarProducto }}
                <input type="submit" value="Agregar Producto">
            </form>
            
    </div>

    <ul>
        {% for item in itemsCarrito %}
        <li><form action="/usuario/carrito/item/{{item.producto_id}}/eliminacion/" method="POST">
            {% csrf_token %}
            <span>{{item}} {{item.cantidad}} {{item.precio}}</span> <input type="submit" value="Eliminar Item">
        </form></li>
        {% endfor %}
    </ul>
</body>
</html>