<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/carrito.css' %}">
</head>
<body>

    <div class="imageLoader">
        <form method="POST" action="/usuario/carrito/item/imagen" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ formSubirImagen }}
            <input type="submit" value="Cargar Imagen">
        </form>
    </div>
    <div>
            <form action="/usuario/carrito/item/" method="POST">
                {% csrf_token %}
                {{ formAgregarProducto }}
                <div>
                    <span>Precio: </span><span id="precio_prod_ingresado"></span>
                </div>
                <input type="submit" value="Agregar Producto">
            </form>
            
    </div>

    <ul>
        {% for item in itemsCarrito %}
        <li><form action="/usuario/carrito/item/{{item.changoXprod.producto_id}}/eliminacion/" method="POST">
            {% csrf_token %}
            <span>{{item.changoXprod}}: {{item.changoXprod.cantidad}} - Precio: {{item.changoXprod.precio}} </span> <input type="submit" value="Eliminar Item">
        </form></li>
        {% endfor %}
    </ul>

    <script>
        function actualizarPrecio() {
            let precio = document.getElementById("precio_prod_ingresado");
            precio.innerHTML = precioSeleccionUsuario()
        }
        function precioSeleccionUsuario(){
            let cantIngresada = document.getElementById("id_cantidad").value
            let prodIngresado = document.getElementById("id_producto").value

            {# calcula el precio #}
            let nuevoPrecio = cantIngresada * precioUnitario(prodIngresado)
            {# para que no sea negativo: #}
            nuevoPrecio = Math.max(0, nuevoPrecio)
            {# para que muestre solo 2 decimales: #}
            nuevoPrecio = Math.round(nuevoPrecio * 100) / 100
            {# para que si es NaN (cualquier error que haya, por ejemplo si tenemos seleccionada la #}
            {# opción default de producto) no muestre NaN si no una cadena vacia#}
            if (isNaN(nuevoPrecio)){
                return ""
            }
            return nuevoPrecio.toString()
        }

        function precioUnitario(prod) {
            let listaDePrecios = {}
            {% for prod, precio in listaDePrecios %}
                listaDePrecios[{{ prod }}] = {{ precio }}
            {% endfor %}
            return listaDePrecios[prod]
        }
        {# Setea los eventos que disparan el calculo del precio #}
        onload = actualizarPrecio
        document.onkeyup = actualizarPrecio
        document.onclick = actualizarPrecio
    </script>

</body>
</html>