body {
    margin: 0;
    padding: 0;
    justify-content: center;
    background: url(../images/background.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.imageLoader, .imageConfirm, .cerrarCompra, .itemsList, .textoErrorVDI, .totalCompra {
    width: 1000px;
    padding: 10px;
    background: #e73c31;
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
}

.totalCompra {
    font-size: 1.5rem;
}

.logout form{
    background-color: #e73c31;
    display: flex;
    text-decoration: none;
    justify-content: end;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.textoErrorVDI {
    color: white;
    font-size: 0.7rem;
    padding: 0;
}